TELEGRAM_BOT_TOKEN="0000000000:****"
TELEGRAM_GROUP_ID="1234"
TELEGRAM_CODE_GREEN_CYCLE="604800000" # 1 week = 1000ms * 60s * 60m * 24h * 7d
TELEGRAM_MAX_MESSAGE_SIZE="4096"
TELEGRAM_MIN_DURATION_BETWEEN_MESSAGES="200" # ms
SHLINK_URL="https://shlink.example.de"
SHLINK_API_KEY="***"
AZURE_STORAGE_CONNECTION_STRING="***